{{if tag}}
<h2><a href="/tag/${tag.id}">${tag.name}</a>
</h2>
{{if current_user && current_user.is_author}}
<p>
    <a href="/tag/${tag.id}/edit">编辑标签</a> | <a href="/resumes?tag=${tag.id}">查看简历</a>
    {{if tag.users && tag.users.length > 0}}
    <br/>
    简历负责人：
    {{each(i, user) tag.users}}
    <a href="http://weibo.com/n/${user.screen_name}" target="_blank">@${user.screen_name}</a>
    {{/each}}
    <hr/>
    {{/if}}
</p>
{{/if}}
<div>{{html tag.text}}</div>
<h3>相关职位:</h3>
<hr/>
<br/>
{{/if}}

{{each(i, job) jobs}}
<div class="post">
    <h2 class="title" id="job_${job.weibo_id}"><a href="/job/${job.id}">${job.title}</a></h2>
    {{if job.author}}
    <p class="byline">由 <a href="${job.author.t_url}" target="_blank">@${job.author.screen_name}</a> 发布</p>
    {{/if}}
    <div class="entry">
       <p>${job.desc}</p>
    </div>
    <div class="meta">
        <p class="links">
            {{if current_user && current_user.is_author}}
            <a href="/resumes?status=all&job=${job.id}">查看简历(${job.resume_count})</a>
            &nbsp;&nbsp;
            {{/if}}
            {{if job.status == 0 && current_user && (current_user.user_id == job.author_id || current_user.is_admin)}}
            <a href="/job/create?job=${job.id}">编辑信息</a>
            &nbsp;&nbsp;
            {{/if}}
            {{if current_user && (current_user.is_author || current_user.is_admin)}}
            |
            &nbsp;&nbsp;
            {{/if}}
            <a href="javascript:void(0);" title="${job.like_count || 0}人收藏" jobid="${job.id}" class="like_button ${job.user_like ? 'unlike' : ''}"><span>${job.user_like ? '取消收藏' : '收藏'}</span>(<span>${job.like_count || 0}</span>)</a>
            {{if !(current_user && current_user.is_author) }}
            &nbsp;&nbsp;
            <a href="/job/${job.id}#resume" title="${job.resume_count || 0}人投递" class="resume_count big_button">投递简历(<span>${job.resume_count}</span>)</a>
            {{/if}}
            {{if job.weibo_info && job.weibo_info.t_url}}
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}" target="_blank" class="repost_count">转发(<span>${job.repost_count}</span>)</a>
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}#a_comment" target="_blank" class="comment_count">评论(<span>${job.comment_count}</span>)</a>
            {{/if}}
        </p>
    </div>
</div>
{{/each}}
<p>
    {{if typeof(prev_offset) == 'number' }}
    <a href="/?c=${page_count}">首页</a>
    <a href="/?o=${prev_offset}&c=${page_count}">上一页</a>
    {{/if}}
    {{if next_offset}}
    <a href="/?o=${next_offset}&c=${page_count}">下一页</a>
    {{/if}}
</p>
