
{{each(i, job) jobs}}
<div class="post">
    <h2 class="title" id="job_${job.weibo_id}"><a href="/job/${job.id}">${job.title}</a></h2>
    {{if job.author}}
    <p class="byline">由 <a href="${job.author.t_url}" target="_blank">@${job.author.screen_name}</a> 发布</p>
    {{/if}}
    <div class="entry">
       <p>${job.desc}</p>
    </div>
    <div class="meta">
        <p class="links">
            {{if users && users.tsina && users.tsina.is_author}}
            <a href="/resumes?status=all&job=${job.id}">查看简历(${job.resume_count})</a>
            &nbsp;&nbsp;
            {{if job.status == 0 && users.tsina.user_id == job.author_id}}
            <a href="/job/create?job=${job.id}">编辑信息</a>
            &nbsp;&nbsp;
            {{/if}}
            |
            &nbsp;&nbsp;
            {{/if}}
            <a href="/job/${job.id}#resume" class="resume_count">投递简历(${job.resume_count})</a>
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}" target="_blank" class="repost_count">转发(<span>${job.repost_count}</span>)</a>
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}#a_comment" target="_blank" class="comment_count">评论(<span>${job.comment_count}</span>)</a>
        </p>
    </div>
</div>
{{/each}}
<p>
    {{if prev_offset != null}}
    <a href="/?c=${page_count}">首页</a>
    <a href="/?o=${prev_offset}&c=${page_count}">上一页</a>
    {{/if}}
    {{if next_offset}}
    <a href="/?o=${next_offset}&c=${page_count}">下一页</a>
    {{/if}}
</p>
