<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>${title}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">工作达人</a></h1>
			<h2><a href="http://www.freecsstemplates.org/">来淘宝工作吧</a></h2>
		</div>
		<!-- end div#logo -->
		<div id="menu">
			<ul>
				<li class="active"><a href="#">职位列表</a></li>
				<li><a href="#">关注我们</a></li>
				<li><a href="#">联系我们</a></li>
			</ul>
		</div>
		<!-- end div#menu -->
	</div>
	<!-- end div#header -->
	<div id="page">
		<div id="page-bgtop">
			<div id="content">
				<div class="post">
					<h2 class="title"><a href="#">测试架构师（广告技术-杭州）</a></h2>
					<p class="byline">由 嘻嘻哈哈 发布</p>
					<div class="entry">
						<p>职位描述：<br />
1. 按照产品架构和业务要求，制定和推进测试策略，测试计划和测试方法<br />
2. 参与产品需求和架构设计评审，保证产品的可测试性<br />
3. 参与测试效果评估和软件质量核查<br />
4. 通过测试相关流程、策略、方法和工具等创新，努力提升测试的质量和效率<br />
5. 解决测试过程中复杂技术问题<br />
6. 负责测试团队的测试方法和技术培训，领导团队测试技术的发展<br />
职位要求：<br />
1. 计算机或其他相关专业本科以上学历<br />
2. 至少五年以上软件开发、自动化测试或白盒测试工作经验，有分布式测试，专业的性能测试、安全测试经验者优先<br />
3. 精通C/C++/Java等至少一种编程语言，熟悉Shell或PHP/Perl/Python/Ruby等脚本语言<br />
4. 精通Linux或Unix操作系统<br />
5. 很强的技术前瞻性，了解测试技术的发展，熟悉敏捷开发和测试流程<br />
6. 很强的技术钻研、问题分析和解决能力<br />
7. 熟练的文档、沟通表达和培训技巧
						</p>
					</div>
					<div class="meta">
						<p class="links"><a href="#" class="comments">Comments (32)</a></p>
					</div>
				</div>
				<div class="post">
					<h2 class="title"><a href="#">推荐算法工程师-会员营销（运营支撑-杭州）</a></h2>
					<p class="byline">由 嘻嘻哈哈 发布</p>
					<div class="entry">
						<p>职位描述：<br />
1. 针对淘宝营销系统业务，开发相关性算法、排序算法；<br />
2. 对淘宝海量用户行为数据、用户意图和商品数据，设计数据挖掘算法；<br />
3. 进行关联推荐、个性化营销技术的研发<br />
职位要求：<br />

1. 计算机、数学相关专业大学本科以上学历，3年以上业界工作经验；<br />
2. 熟悉数据挖掘，信息检索，自然语言处理等算法 <br />
3. 熟悉分布式系统的架构、设计和优化，有Hadoop、Hive等相关工作经验者优先；<br />
4. 熟练掌握Java语言，熟悉网络编程和多线程编程；<br />
5. 熟悉面向对象的分析和设计技术</p>
					</div>
					<div class="meta">
						<p class="links"><a href="#" class="comments">Comments (32)</a></p>
					</div>
				</div>
			</div>
			<!-- end div#content -->
			<div id="sidebar">
				<ul>
					<li id="search">
						<h2>职位搜索</h2>
						<form method="get" action="">
							<fieldset>
							<input type="text" id="seach-text" name="s" value="" />
							<input type="submit" id="search-submit" value="职位搜索" />
							</fieldset>
						</form>
					</li>
					<li><h2>登录</h2>
					   <ul>
					       <li>
					       {{if users.tsina }}@${users.tsina.screen_name}{{else}}<a href="/login/tsina"><img src="http://open.sinaimg.cn/wikipic/button/24.png" /></a>{{/if}}</li>
					       <li><a href="/login/twitter"><img src="/images/sign-in-with-twitter-d.png" /></a></li>
					   </ul>
					</li>
					<li>
                        <h2>热门职位</h2>
                        <ul>
                            <li><a href="#">测试架构师（广告技术-杭州）</a></li>
                            <li><a href="#">推荐算法工程师-会员营销（运营支撑-杭州）</a></li>
                            <li><a href="#">Python开发工程师</a></li>
                            <li><a href="#">Web前端工程师</a></li>
                        </ul>
                    </li>
					<li>
						<h2>职位分类</h2>
						<ul>
							<li><a href="#">技术研发</a></li>
							<li><a href="#">产品需求</a></li>
							<li><a href="#">测试</a></li>
							<li><a href="#">UED</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<!-- end div#sidebar -->
			<div style="clear: both; height: 1px"></div>
		</div>
	</div>
	<!-- end div#page -->
</div>
<!-- end div#wrapper -->
	<div id="footer">
		<p id="legal">Copyright &copy; 2011 taobao.com. All Rights Reserved. </p>
		<p id="links"><a href="http://taobao.com">taobao.com</a> | <a href="#">Terms of Use</a></p>
	</div>
	<!-- end div#footer -->
</body>
</html>
