<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>{{if title}}${title} - {{/if}}${config.site.title}</title>
	<meta name="keywords" content="job,hr,nodejs" />
	<meta name="description" content="${config.site.description}" />
	<link rel="shortcut icon" href="/theme/${config.site.theme}/favicon.ico" />
	<link rel="stylesheet" href="/theme/${config.site.theme}/css/default.css" />
	<link rel="stylesheet" href="/jqueryui/css/ui-lightness/jquery-ui-1.8.11.css" />
	<script src="/js/jquery-1.6.3.min.js"></script>
	<script src="/jqueryui/js/jquery-ui-1.8.11.min.js"></script>
	<script src="/js/util.js?v=1"></script>
	<script src="/js/constant.js"></script>
  <script src="/js/main.js?v=1"></script>
</head>
<body>
<div id="pageloading" style="display:none;">正在加载...</div> 
<script>
document.getElementById('pageloading').removeAttribute('style');
$(document).ready(function(){
	$('#pageloading').hide();
});
</script> 
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <a href="/"><img alt="淘Job, 来淘宝工作吧" src="/theme/${config.site.theme}/images/logo.jpg" /></a>
        </div>
        <!-- end div#logo -->
        <div id="menu">
            <ul>
                <li><a href="/">职位列表</a></li>
                {{if current_user }}
                    {{if !current_user.is_author && !current_user.is_admin }}
                    <li><a href="/resume/list/${current_user.user_id}">我的简历</a></li>
                    {{/if}}
                    <li><a href="/job/likes/${current_user.user_id}">我的收藏</a></li>
	                {{if current_user.is_author }}
	                <li><a href="/resumes">查看简历</a></li>
	                <li><a href="/job/create">发布职位信息</a></li>
	                <li><a href="/tag/create">职位标签</a></li>
	                {{/if}}
                {{/if}}
            </ul>
        </div>
        <!-- end div#menu -->
    </div>
    <!-- end div#header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="content">
            {{html body}}
            </div>
            <!-- end div#content -->
            <div id="sidebar">
                <ul>
                    <li>
                       <h2>用户</h2>
                       <ul>
                           {{if current_user }}
                           <li>
                           
                               <img src="${current_user.profile_image_url}" />
                               <a id="current_user_link" href="${current_user.t_url}" target="_blank">@${current_user.screen_name}</a>
                               <input id="current_user_id" type="hidden" value="${current_user.user_id}" />
                           </li>
                           <li>
                               <a href="/logout/tsina">退出登录</a>
                           </li>
                           {{else}}
                           <li>
                               <a href="/oauth?blogtype=tsina"><img src="http://open.sinaimg.cn/wikipic/button/24.png" /></a>
                           </li>
                           {{/if}}
                           {{if current_user && current_user.is_admin }}
			               <li><a href="/system_info">系统信息</a></li>
			               <li><a href="/users">用户管理</a></li>
			               {{/if}}
                           <!-- 
                           <li><a href="/login/twitter"><img src="/images/sign-in-with-twitter-d.png" /></a></li>
                           -->
                       </ul>
                    </li>
                    <li id="search">
                        <h2>职位搜索</h2>
                        <form method="get" action="/job/search">
                            <input type="text" id="search_text" name="q" value="${query}" />
                            <input type="submit" id="search_btn" value="搜索" />
                        </form>
                    </li>
                    <li>
                        <h2>职位标签</h2>
                        <ul id="tags">
                        </ul>
                    </li>
                    <li>
                        <h2>热门职位</h2>
                        <ul id="hot_jobs">
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end div#sidebar -->
            <div style="clear: both; height: 1px"></div>
        </div>
    </div>
    <!-- end div#page -->
</div>
<!-- end div#wrapper -->
<div id="footer">
    <p id="legal">Copyright &copy; 2011 ${config.site.domain}. All Rights Reserved. 
    <script type="text/javascript" src="http://js.tongji.linezing.com/2341473/tongji.js"></script><noscript><a href="http://www.linezing.com"><img src="http://img.tongji.linezing.com/2341473/tongji.gif"/></a></noscript>
    </p>
</div>
<!-- end div#footer -->
</body>
</html>