<script type="text/javascript">
$(document).ready(function(){
    $('input.resume_status_cb').click(function(){
        var $this = $(this);
        var status = $this.attr('checked') ? 1 : 0;
        var id = $this.parent().next().text();
        $this.attr('disabled', 'disabled');
        $.post('/resumes/update/' + id, {status: status}, function(data) {
            $this.attr('disabled', '');
        });
    });
    
    $('textarea.resume_remark').change(function() {
        var $this = $(this);
        $this.css('border', '1px solid');
        var id = $this.parent().parent().find('.resume_id').text();
        $.post('/resumes/update/' + id, {remark: $this.val()}, function(data) {
            $this.css('border', '2px solid green');
        });
    });
});
</script>
<p>
    {{if filter_status == '0'}}未读{{else}}<a href="/resumes?status=0{{if jobid}}&job=${jobid}{{/if}}">未读</a>{{/if}}
    {{if filter_status == '1'}}已读{{else}}<a href="/resumes?status=1{{if jobid}}&job=${jobid}{{/if}}">已读</a>{{/if}}
    {{if filter_status == 'all'}}全部{{else}}<a href="/resumes?status=all{{if jobid}}&job=${jobid}{{/if}}">全部</a>{{/if}}
</p>
{{if current_job}}
<h3>投递职位: <a href="/job/${current_job.id}">${current_job.title}</a></h3>
{{/if}}
{{if resumes.length > 0}}
<table cellspacing="0">
  <tr>
    <th>已读</th>
    <th>ID</th>
    <th>姓名</th>
    <th>简历</th>
    {{if jobid}}
    <th>回答</th>
    {{else}}
    <th>投递职位</th>
    <th>简历数</th>
    {{/if}}
    <th>投递时间</th>
    <th>备注</th>
  </tr>
  {{each(i, resume) resumes}}
  <tr>
    <td><input type="checkbox" class="resume_status_cb" {{if resume.status == 1}}checked="checked"{{/if}} /></td>
    <td class="resume_id">${resume.id}</td>
    <td><a title="查看他投递的其他简历" href="/resume/list/${resume.user.user_id}">${resume.user.screen_name}</a></td>
    <td><a href="/download?p=${encodeURI(resume.filepath)}">${resume.filename}</a></td>
    {{if jobid}}
    <td>${(resume.comment && resume.comment.remove_html_tag().substring(0, 100) + '......') || ''}</td>
    {{else}}
    <td><a href="/resumes?job=${resume.job.id}&status=all">${resume.job.title}</a></td>
    <td><a href="/resumes?job=${resume.job.id}&status=all">${resume.job.resume_count}</a></td>
    {{/if}}
    <td>${resume.created_at.format('yyyy-MM-dd hh:mm')}</td>
    <td><textarea class="resume_remark">${resume.remark}</textarea></td>
  </tr>
  {{/each}}
</table>
{{else}}
<p>暂无数据.</p>
{{/if}}
<p>
    {{if prev_offset != null}}
    <a href="/resumes?c=${page_count}&status=${filter_status}{{if jobid}}&job=${jobid}{{/if}}">首页</a>
    <a href="/resumes?o=${prev_offset}&c=${page_count}&status=${filter_status}{{if jobid}}&job=${jobid}{{/if}}">上一页</a>
    {{/if}}
    {{if next_offset}}
    <a href="/resumes?o=${next_offset}&c=${page_count}&status=${filter_status}{{if jobid}}&job=${jobid}{{/if}}">下一页</a>
    {{/if}}
</p>