<div class="page">
  <div class="main box">
    <div id="basicInfo"></div>
    <div id="rader" data="ability" aspect="aspect" score="score"></div>
    <div id="pieChart" data="skill" radius="degree" angle="learnTime" show="skillName" 
      radiusShow="熟练程度" angleShow="接触时间" radiusQuan="" angleQuan="月"></div>
    <div id="tags" data="tag" tag="word"></div>
    <div id="timeAxis" titleUp="项目经历" dataUp="project" startTimeUp="proStartTime" endTimeUp="proEndTime" nameUp="proName" descriptionUp="proDetail" 
      titleDown="教育状况" dataDown="education" startTimeDown="eduStartTime" endTimeDown="eduEndTime" nameDown="school" descriptionDown="eduDetail"></div>
    <center><div id="contact"></div></center>
  </div>
</div>
