<script type="text/javascript" src="/js/tiny_mce/jquery.tinymce.js"></script>
<script type="text/javascript" src="/js/editor.js"></script>
<script type="text/javascript" src="/js/job/detail.js"></script>

<script type='text/javascript' src='/js/jquery-autocomplete/lib/jquery.bgiframe.min.js'></script>
<script type='text/javascript' src='/js/jquery-autocomplete/lib/thickbox-compressed.js'></script> 
<script type='text/javascript' src='/js/jquery-autocomplete/jquery.autocomplete.js'></script>
<link rel="stylesheet" type="text/css" href="/js/jquery-autocomplete/jquery.autocomplete.css" /> 
<link rel="stylesheet" type="text/css" href="/js/jquery-autocomplete/lib/thickbox.css" /> 

<input type="hidden" id="job_id" value="${job.id}" />
<input type="hidden" id="job_weibo_id" value="${job.weibo_id}" />
<div class="post">
    <h2 class="title" id="job_${job.weibo_id}"><a href="/job/${job.id}">${job.title}</a></h2>
    {{if job.author}}
    <p class="byline">由 <a id="author_link" href="http://t.sina.com.cn/n/${job.author.screen_name}" target="_blank">@${job.author.screen_name}</a> 发布</p>
    {{/if}}
    <div class="entry">
        <p>{{html job.text}}
        </p>
        
        {{if tags.length > 0}}
        <p>职位标签:
        {{each(i, tag) tags}}
        <a href="/tag/${tag.id}">${tag.name}(${tag.count})</a>&nbsp;&nbsp;
        {{/each}}
        </p>
        
        {{each(i, tag) tags}}
        {{html tag.summary}}
        {{/each}}
        
        {{/if}}
        
        
        {{if job.question}}
        <h3>附加题目</h3>
        <p>{{html job.question.content}}</p>
        {{/if}}
    </div>
    <div class="meta">
        <p class="links">
            {{if current_user && current_user.is_author}}
            <a href="/resumes?status=all&job=${job.id}">查看简历(${job.resume_count})</a>
            &nbsp;&nbsp;
            {{/if}}
            
            {{if job.status === 0 && current_user && (current_user.user_id === job.author_id || current_user.is_admin)}}
            <a href="/job/create?job=${job.id}">编辑信息</a>
            &nbsp;&nbsp;
            <button class="close_job_btn" jobid="${job.id}">结束招聘</button>
            &nbsp;&nbsp;
            {{/if}}
            {{if current_user && (current_user.is_author || current_user.is_admin)}}
            |
            &nbsp;&nbsp;
            {{/if}}
            <a href="javascript:void(0);" title="${job.like_count || 0}人收藏" jobid="${job.id}" class="like_button ${job.user_like ? 'unlike' : ''}"><span>${job.user_like ? '取消收藏' : '收藏'}</span>(<span>${job.like_count || 0}</span>)</a>
            {{if !(current_user && current_user.is_author) }}
            &nbsp;&nbsp;
            <a href="/job/${job.id}#resume" title="${job.resume_count || 0}人投递" class="resume_count big_button">投递简历(<span>${job.resume_count}</span>)</a>
            {{/if}}
            {{if job.weibo_info && job.weibo_info.t_url}}
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}" target="_blank" class="repost_count">转发(<span>${job.repost_count}</span>)</a>
            &nbsp;&nbsp;
            <a href="${job.weibo_info.t_url}#a_comment" target="_blank" class="comment_count">评论(<span>${job.comment_count}</span>)</a>
            {{/if}}
        </p>
    </div>
    <div>
        <a name="resume" href="#resume"></a>
        <h2>投递简历</h2>
        {{if job.status == 0}}
            {{if current_user}}
                {{if resume}}
                <p>你已经在 ${resume.created_at.format()} 
                    {{if resume.introducer}}
                    经 <a href="http://t.sina.com.cn/n/${resume.introducer}" id="resume_introducer" target="_blank">@${resume.introducer}</a> 的介绍
                    {{/if}}
                    投递了简历 <a href="/download?p=${encodeURI(resume.filepath)}">${resume.filename}</a>
                    <br />
                    <button id="update_resume_btn">我要更新简历</button>
                </p>
                {{/if}}
            <form id="upload_resume_form" {{if resume}}style="display:none;"{{/if}} method="post" action="/resume/upload/${job.id}" enctype="multipart/form-data">
                <h3>招聘信息来源(从谁的微博知道此信息的?):</h3>
                @<input type="text" id="introducer" name="introducer" size="20" />
		        <h3>我想说说(对此职位的想法或者回答问题):</h3>
		        <textarea class="simple_tinymce" name="comment" id="comment">${resume && resume.comment}</textarea>
                <br/>
                <h3>选择的要上传的简历：(说说和简历都不会对外公布)</h3>
                <input id="resume" name="resume" type="file" accept="png,gif,jpg,jpeg,doc,docx,pdf,txt,wps" />
                <br/><br/>
                <input id="upload_btn" type="submit" value=" 提交简历 " /> 
            </form>
            {{else}}
            <p>
                你目前还没有登录，请先登录。<br/><a href="/login/tsina"><img src="http://open.sinaimg.cn/wikipic/button/24.png" /></a>
            </p>
            {{/if}}
        {{else}}
        <p>此职位已经结束招聘。${job.updated_at.format()}</p>
        {{/if}}
    </div>
    <br />
    <div id="repost_users"></div>
</div>