<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>${title}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="/css/default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1><a href="/">淘Job</a></h1>
            <h2><a href="/">来淘宝工作吧</a></h2>
        </div>
        <!-- end div#logo -->
        <div id="menu">
            <ul>
                <li class="active"><a href="/">职位列表</a></li>
                <li><a href="#">联系我们</a></li>
                {{if users.tsina && users.tsina.user_role == 'author'}}
                <li><a href="/job/create">发布职位信息</a></li>
                {{/if}}
            </ul>
        </div>
        <!-- end div#menu -->
    </div>
    <!-- end div#header -->
    <div id="page">
        <div id="page-bgtop">
            <div id="content">
                <div class="post">
                    <h2 class="title"><a href="/job/${job.id}">${job.title}</a></h2>
                    {{if job.author}}
                    <p class="byline">由 <a href="${job.author.t_url}" target="_blank">@${job.author.screen_name}</a> 发布</p>
                    {{/if}}
                    <div class="entry">
                        <p>{{html job.text.replace(/\n/g, '<br/>').replace(/\s/g, '&nbsp;')}}</p>
                    </div>
                    <div class="meta">
                        <p class="links">
                            <a href="/job/${job.id}#resume" class="resume_count">投递简历(${job.resume_count})</a>
                            &nbsp;&nbsp;
							<a href="#" class="repost_count">转发(${job.repost_count})</a>
							&nbsp;&nbsp;
							<a href="#" class="comment_count">评论(${job.comment_count})</a>
						</p>
                    </div>
                    <div>
                        <h3><a name="resume" href="#resume"></a>投递简历</h3>
                        <form method="post" action="/job/upload_resume/${job.id}" enctype="multipart/form-data">
                            <label for="introducer">招聘信息来源（从谁的微博知道此信息的？）：</label><br/>
                            <input type="text" id="introducer" name="introducer" size="50" /><br/><br/>
                            <label for="resume">选择的要上传的简历：</label><br/>
                            <input id="resume" name="resume" type="file" />
                            <br/><br/>
                            <input type="submit" value="提交简历" /> 
                        </form>
                    </div>
                    <!-- <div>
                        <h3>我来说两句</h3>
                        <p>
                            <textarea rows="5" style="width:80%;"></textarea>
                            <br />
                            <input id="repost_cb" type="checkbox" />
                            <label for="repost_cb">同时转发到我的微博</label>
                            &nbsp;&nbsp;
                            <input type="button" value="发表评论" /> 
                        </p>
                    </div>
                     -->
                </div>
            </div>
            <!-- end div#content -->
            <div id="sidebar">
                <ul>
                    <li id="search">
                        <h2>职位搜索</h2>
                        <form method="get" action="">
                            <fieldset>
                            <input type="text" id="seach-text" name="s" value="" />
                            <input type="submit" id="search-submit" value="职位搜索" />
                            </fieldset>
                        </form>
                    </li>
                    <li><h2>登录</h2>
                       <ul>
                           <li>
                           {{if users.tsina }}[<a href="/logout/tsina">注销</a>] 
                               <img src="${users.tsina.profile_image_url}" />
                               <a href="${users.tsina.t_url}" target="_blank">@${users.tsina.screen_name}</a>
                           {{else}}<a href="/login/tsina"><img src="http://open.sinaimg.cn/wikipic/button/24.png" /></a>{{/if}}</li>
                           <li><a href="/login/twitter"><img src="/images/sign-in-with-twitter-d.png" /></a></li>
                       </ul>
                    </li>
                    <li>
                        <h2>热门职位</h2>
                        <ul>
                            <li><a href="#">测试架构师（广告技术-杭州）</a></li>
                            <li><a href="#">推荐算法工程师-会员营销（运营支撑-杭州）</a></li>
                            <li><a href="#">Python开发工程师</a></li>
                            <li><a href="#">Web前端工程师</a></li>
                        </ul>
                    </li>
                    <li>
                        <h2>职位分类</h2>
                        <ul>
                            <li><a href="#">技术研发</a></li>
                            <li><a href="#">产品需求</a></li>
                            <li><a href="#">测试</a></li>
                            <li><a href="#">UED</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- end div#sidebar -->
            <div style="clear: both; height: 1px"></div>
        </div>
    </div>
    <!-- end div#page -->
</div>
<!-- end div#wrapper -->
    <div id="footer">
        <p id="legal">Copyright &copy; 2011 taobao.com. All Rights Reserved. </p>
        <p id="links"><a href="http://taobao.com">taobao.com</a> | <a href="#">Terms of Use</a></p>
    </div>
    <!-- end div#footer -->
</body>
</html>
